compliance/xsd/pain.008.001.08.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Simplified structural XSD for ISO 20022 pain.008.001.08
  (Customer Direct Debit Initiation v8 — SEPA Direct Debit Mandate)

  Validates the structural requirements of mock-jutsu generated
  sepa_mandate messages. Derived from the official ISO 20022 specification.

  Official namespace: urn:iso:std:iso:20022:tech:xsd:pain.008.001.08
  Reference: ISO 20022 Message Catalogue (pain.008.001.08)
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:iso:std:iso:20022:tech:xsd:pain.008.001.08"
           xmlns="urn:iso:std:iso:20022:tech:xsd:pain.008.001.08"
           elementFormDefault="qualified">

  <xs:element name="Document">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CstmrDrctDbtInitn">
          <xs:complexType>
            <xs:sequence>

              <!-- Group Header -->
              <xs:element name="GrpHdr">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="MsgId"   type="xs:string"/>
                    <xs:element name="CreDtTm" type="xs:dateTime"/>
                    <xs:element name="NbOfTxs" type="xs:string"/>
                    <xs:element name="InitgPty">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Nm" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <!-- Payment Information (1..n) -->
              <xs:element name="PmtInf" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PmtInfId" type="xs:string"/>
                    <xs:element name="PmtMtd"   type="xs:string"/>
                    <xs:element name="NbOfTxs"  type="xs:string"  minOccurs="0"/>
                    <xs:element name="CtrlSum"  type="xs:decimal" minOccurs="0"/>

                    <!-- Payment Type Information -->
                    <xs:element name="PmtTpInf">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SvcLvl">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Cd" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="LclInstrm">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Cd" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="SeqTp" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="ReqdColltnDt" type="xs:date"/>

                    <xs:element name="Cdtr">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Nm" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="CdtrAcct">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Id">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="IBAN" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="CdtrAgt">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FinInstnId">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="BICFI" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <!-- Creditor Scheme Identification (SEPA Creditor ID) -->
                    <xs:element name="CdtrSchmeId">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Id">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PrvtId">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Othr">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Id" type="xs:string"/>
                                            <xs:element name="SchmeNm">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Prtry" type="xs:string"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <!-- Direct Debit Transaction Information (1..n) -->
                    <xs:element name="DrctDbtTxInf" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PmtId">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="InstrId"    type="xs:string" minOccurs="0"/>
                                <xs:element name="EndToEndId" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>

                          <!-- Instructed Amount (direct, not wrapped in Amt) -->
                          <xs:element name="InstdAmt">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:decimal">
                                  <xs:attribute name="Ccy" type="xs:string" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>

                          <!-- Direct Debit Transaction (mandate reference) -->
                          <xs:element name="DrctDbtTx">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="MndtRltdInf">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="MndtId"    type="xs:string"/>
                                      <xs:element name="DtOfSgntr" type="xs:date"/>
                                      <xs:element name="AmdmntInd" type="xs:boolean" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>

                          <xs:element name="DbtrAgt">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="FinInstnId">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="BICFI" type="xs:string"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>

                          <xs:element name="Dbtr">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Nm" type="xs:string" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>

                          <xs:element name="DbtrAcct">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Id">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="IBAN" type="xs:string"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>

                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                  </xs:sequence>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
