compliance/xsd/pain.001.001.09.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Simplified structural XSD for ISO 20022 pain.001.001.09
  (Customer Credit Transfer Initiation v9)

  This schema validates the structural requirements of mock-jutsu generated
  pain001 messages. It is derived from the official ISO 20022 specification
  but simplified to cover only the elements this library produces.

  Official namespace: urn:iso:std:iso:20022:tech:xsd:pain.001.001.09
  Reference: ISO 20022 Message Catalogue (pain.001.001.09)
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:iso:std:iso:20022:tech:xsd:pain.001.001.09"
           xmlns="urn:iso:std:iso:20022:tech:xsd:pain.001.001.09"
           elementFormDefault="qualified">

  <xs:element name="Document">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CstmrCdtTrfInitn">
          <xs:complexType>
            <xs:sequence>

              <!-- Group Header -->
              <xs:element name="GrpHdr">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="MsgId"    type="xs:string"/>
                    <xs:element name="CreDtTm"  type="xs:dateTime"/>
                    <xs:element name="NbOfTxs"  type="xs:string"/>
                    <xs:element name="CtrlSum"  type="xs:decimal" minOccurs="0"/>
                    <xs:element name="InitgPty">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Nm" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <!-- Payment Information (1..n) -->
              <xs:element name="PmtInf" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PmtInfId" type="xs:string"/>
                    <xs:element name="PmtMtd"   type="xs:string"/>

                    <xs:element name="PmtTpInf" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SvcLvl" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Cd" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <!-- ReqdExctnDt choice: Dt (date) or DtTm -->
                    <xs:element name="ReqdExctnDt">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Dt"   type="xs:date"     minOccurs="0"/>
                          <xs:element name="DtTm" type="xs:dateTime" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="Dbtr">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Nm" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="DbtrAcct">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Id">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="IBAN" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="DbtrAgt">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FinInstnId">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="BICFI" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="ChrgBr" type="xs:string" minOccurs="0"/>

                    <!-- Credit Transfer Transaction Information (1..n) -->
                    <xs:element name="CdtTrfTxInf" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PmtId">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="InstrId"    type="xs:string" minOccurs="0"/>
                                <xs:element name="EndToEndId" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>

                          <!-- Instructed Amount with mandatory Ccy attribute -->
                          <xs:element name="Amt">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="InstdAmt">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:decimal">
                                        <xs:attribute name="Ccy" type="xs:string" use="required"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>

                          <xs:element name="CdtrAgt">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="FinInstnId">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="BICFI" type="xs:string"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>

                          <xs:element name="Cdtr">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Nm" type="xs:string" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>

                          <xs:element name="CdtrAcct">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Id">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="IBAN" type="xs:string"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                  </xs:sequence>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
